{% extends 'base.html' %}


{% block title %}book details{% endblock %}
{% block nav %}
{% if user %}
{{user}}
{% endif %}
{% endblock %}
{% block bar %}
 {% if user %}
 <li class="nav-item  mt-3">
 <a class="nav-link btn btn-primary " href="{% url 'clear_session' %}">Logout
</a></li>
 {% else %}<li class="nav-item  mt-3">
 <a class="nav-link btn btn-primary " href="{% url 'login' %}">Login
</a></li>
{% endif %}
{% endblock %}
{% block content %}
<main>
    <content>
    {% for book in details %}
        <article class="bookarticle">
            <h4> Book Name -  '''{{book.book_name}}'''</h4>
            <img src={{book.img.url}}/>
            <h6>Author - {{book.author}}</h6>
            <h6>Description:</h6>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"{{book.description}}...etc,"</p>
            <h6>Price- Rs: {{book.price}}</h6>
                <input type="hidden" id="user" value={{user}} />
                <input type="hidden" id="bookid" value="{{book.book_name}}"/>
                <input id="price" type="hidden" value={{book.price}} />
                <button type="submit "class="btn btn-outline-success" onclick="Add_book()">Add to cart</button>
            <a href="{% url 'home' %}" class="btn btn-outline-dark ">View More Books</a>


        </article>
    {% endfor %}

    </content>
    {% if err %}
    <div class="erro"> 
    <h2>{{err}}</h2>
    <a href="{% url 'home' %}" class="btn btn-info">Show book</a>
    </div>
    {% endif %}
</main>
{% block script %}
{% load static %}
    <script type="text/JavaScript" src="{% static 'js/addCart.js' %}" defer>


    </script>
{% endblock %}

{% endblock%}
