{% extends 'base.html' %}


{% block title %}Cart{% endblock %}
{% block nav %}
{% if user %}
{{user}}
{% endif %}
{% endblock %}

{% block bar %}
 {% if user %}
 <li class="nav-item  mt-3">
 <a class="nav-link btn btn-primary " href="{% url 'clear_session' %}">Logout
</a></li>
 {% else %}<li class="nav-item  mt-3">
 <a class="nav-link btn btn-primary " href="{% url 'login' %}">Login
</a></li>
{% endif %}
{% endblock %}


{% block content %}

{% load static %}
<div class="">
    <div class="container-fluid ">
        
        <div class="row">
            <div class="col-md-4 text-center">
                <h3>Orders</h3>
                <div class="row mr-5">
                    <div class="col-4" id="name">
                        <h5>Name</h5>

                    </div>
                    <div class="col-4" id="quantity" class="quantity">
                        <h5>quantity</h5>
                    </div>
                   
                    <div class="col-2" id="price">
                        <h5>price</h5>
                    </div>
                    <div class="col-2" id="remove">
                    </div>
                </div>

                <h3 id="total">Total:</h3>

            </div>
            

            <div class="col-3">
                <h5>Address</h5>
                <textarea class="Address" name="Address" id="Address" cols="30" rows="10"></textarea>
                <div class="ml-auto m-4">
                
                    <button type="submit" class="btn-success" onclick="order()">Submit</button>
                </div>
            </div>
        </div>
    </div>




</div>



{% block script %}
{% load static %}
    <script src="{% static 'js/Cart.js' %}" type="text/javascript"></script>
{% endblock %}

{% endblock %}