{% extends 'base.html' %}


{% block title %}Hompage{% endblock %}
{% block nav %}
{% if user %}
{{user}}
{% endif %}
{% endblock %}
{% block bar %}
 {% if user %}
 <li class="nav-item  mt-3">
 <a class="nav-link btn btn-danger " href="{% url 'clear_session' %}">Logout
</a>
</li>
<li class="nav-item  mt-3">
 <a class="nav-link btn btn-primary " href="{% url 'login' %}">Login
</a>
</li>
{% endif %}
{% endblock %}
{% block content %}
{% load static %}

<main> 
    <div class="titletext">
        <div class="image-text">
    <h1 class="title"> Books</h1></div></div>
    <div class="book">
    {% for book in books %}
        <li class="item" >
            <img src="{{ book.img.url}}"></img>
            <p>{{book.book_name}}</p>
            <h6>Price: Rs.{{book.price}}</h6>
            <a class="btn btn-dark" href="{{book.id}}">View</a>
        </li>

    {% endfor %}
</div>
</main>

{% endblock %}

{% block script %}
<script src="{% static 'js/Main.js' %}" type="application/javascript"></script>

<script src="{% static 'js/Size.js' %}" type="application/javascript"></script>
{% endblock %}
